@use "../foundation/index" as *;

.fade-in {
  @include fade-in;
  will-change: transform, opacity;
}

.slide-out {
  transform: translateY(-200vh);
  will-change: transform;
}

.flex-group-col {
  @include flex-group-col;
  flex: 1;
}

.flex-group-row {
  @include flex-group-row;
}

.grid-group {
  @include grid-group;
}

.flex-text {
  @include flex-group-col;
  gap: 0.5rem;
}

.btn-solid {
  @include btn-solid;
}

.btn-line {
  @include btn-line;
}
