@use "../../styles/index" as *;

#about {
  background-color: $acc-yellow;
  .flex-group-row {
    flex-direction: column;
    @include container-query(medium) {
      flex-direction: row;
    }
    picture {
      max-width: 400px;
      width: 70%;
      align-self: flex-start;
    }
    .flex-group-col {
      align-items: flex-start;
    }
  }
  .topper {
    align-self: flex-start;
  }
  img {
    @include border-style($dark);
    max-width: 400px;
    max-height: 400px;
  }
}
