@use "../../foundation/index" as *;

#choose-us {
  background-color: $acc-pink;
  .flex-group-row {
    flex-direction: column;
    align-items: stretch;
    @include container-query(medium) {
      flex-direction: row;
    }
    .card {
      @include flex-group-col;
      justify-content: flex-start;
      background-color: rgba($light, 1);
      @include border-style($dark);
      transition: all 0.3s ease;
      border-radius: 0.5rem;
      padding: 1rem;
      flex: 1;
      h3 {
        align-self: flex-start;
      }
      img {
        width: 80px;
        height: 80px;
      }
      @include container-query(medium) {
        h3 {
          align-items: center;
        }
      }

      &:hover {
        transform: translateY(-1rem);
      }
    }
  }
}
