@use "../../styles/index" as *;

#footer {
  background-color: $dark;
  color: $light;

  .flex-group-col {
    container-type: inline-size;

    a {
      @include link-style($light);
    }

    .container {
      padding: 1.5rem;
      justify-content: space-between;
      flex-direction: column;

      .left-section {
        width: 100%;
        flex: 1.5;

        .logo {
          display: contents;
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }

      .right-section {
        display: flex;
        flex-direction: column;
        grid-template-columns: 2fr 1fr;
        flex: 2;
        gap: 2rem;
        justify-content: flex-end;

        h5 {
          margin-bottom: 0.5rem;
        }

        ul {
          list-style: none;
          li {
            &:first-child {
              margin-bottom: 0.25rem;
            }
          }
        }
      }

      @include container-query(x-small) {
        .right-section {
          display: grid;
          font-size: 0.9375rem;
        }
      }

      @include container-query(small) {
        .left-section {
          width: 70%;
        }

        .right-section {
          display: flex;
          flex-direction: row;
          font-size: 1rem;
        }
      }

      @include container-query(large) {
        flex-direction: row;

        .left-section {
          margin-right: 1rem;
        }
      }
    }

    .credit {
      width: 100%;
      border-top: 1px solid $light;
      font-size: 0.875rem;
      @include flex-group-row;
      justify-content: center;
      gap: 0.5rem;
      padding: 0.5rem;
      text-align: center;

      @include container-query(small) {
        @include fluid-type(2);
      }
    }
  }
}
