// required modules
@use "sass:map";
@use "sass:color";
@use "sass:list";
@use "sass:string";

@use "vars" as *;
@use "typography" as *;

// Mixin for container query
@mixin container-query($size) {
  $query: map.get($breakpoints, $size);

  @supports (container-type: inline-size) {
    @if $query {
      @container (min-width: #{$query}) {
        @content;
      }
    } @else {
      @container (min-width: #{$size}) {
        @content;
      }
    }
  }

  @supports not (container-type: inline-size) {
    @if $query {
      @media only screen and (min-width: #{$query}) {
        @content;
      }
    } @else {
      @media only screen and (min-width: #{$size}) {
        @content;
      }
    }
  }
}

@mixin transition-fast($properties...) {
  $transitions: ();

  @each $prop in $properties {
    $transitions: list.append(
      $transitions,
      string.unquote("#{ $prop } 0.12s ease-in-out"),
      $separator: comma
    );
  }

  transition: $transitions;
}

@mixin transition-slow($properties...) {
  $transitions: ();

  @each $prop in $properties {
    $transitions: list.append(
      $transitions,
      string.unquote("#{ $prop } 0.3s ease"),
      $separator: comma
    );
  }

  transition: $transitions;
}

@mixin fade-in() {
  opacity: 0;
  transform: translateY(2rem);
  &.visible {
    animation: fade-in 1s ease forwards;
  }
}

@mixin border-style($colour) {
  border: 2px solid $colour;
}

@mixin focus-style($colour) {
  outline: 3px solid $colour;
  outline-offset: 6px;
}

// Flexbox
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-group-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

@mixin flex-group-col {
  @include flex-group-row;
  flex-direction: column;
}

// Grid
@mixin grid-group {
  display: grid;
  gap: 1rem;
}

// btn styles
@mixin drop-shadow {
  box-shadow: 0.25rem 0.25rem 0 0 $dark;
}

@mixin btn-press-effect($colour) {
  transform: scale(0.95);
  background-color: darken($colour, 5%);
}

@mixin btn-base {
  @include header-style;
  @include border-style($dark);
  @include fluid-type(2);
  font-weight: $bold-weight;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  transition: $transition-default;

  &:hover {
    @include drop-shadow;
    cursor: pointer;
  }

  &:focus-visible {
    @include focus-style($dark);
  }
}

@mixin btn-solid {
  @include btn-base;
  color: $light;
  background-color: $dark;

  &:active {
    @include btn-press-effect($dark);
  }

  &:hover {
    @include border-style($light);
  }
}

@mixin btn-line {
  @include btn-base;
  color: $dark;
  background-color: transparent;

  &:active {
    @include btn-press-effect(transparent);
  }

  &:hover {
    @include border-style($dark);
  }
}
