@use "vars" as *;
@use "sass:math";

/* Fonts and general styles */
/* inter-tight-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("/assets/fonts/inter-tight-v7-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/assets/fonts/inter-tight-v7-latin-700.woff") format("woff")
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */;
}

/* inter-tight-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("/assets/fonts/inter-tight-v7-latin-900.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/assets/fonts/inter-tight-v7-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/assets/fonts/open-sans-v36-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/assets/fonts/open-sans-v36-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("/assets/fonts/open-sans-v36-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/assets/fonts/open-sans-v36-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@mixin header-style {
  font-family: $header-font;
  line-height: $line-height-small;
  font-weight: $black-weight;
}

@mixin body-style {
  font-family: $body-font;
  line-height: $line-height-normal;
}

@mixin link-style($colour) {
  color: $colour;

  &:hover {
    color: $brand-primary;
  }
}

$line-height: calc(4px + 2ex + 4px);

// Headings font
$header-font: "Inter Tight", "Arial", sans-serif;
// Body font
$body-font: "Open Sans", "Arial", sans-serif;

// Font adjustments
$line-height-small: 1.2;
$line-height-normal: 1.6;
$letter-spacing-wide: 0.05em;

// Font weights
$regular-weight: 400;
$bold-weight: 700;
$black-weight: 900;

// .SCSS Fluid Text Scaling

$font-size-min: 16; // px at $viewport-min
$font-size-max: 22; // px at $viewport-max
$font-ratio-min: 1.25; // ratio at smallest
$font-ratio-max: 1.3333; // ratio at largest
$viewport-min: 320; // px for min size
$viewport-max: 1500; // px for max size

@mixin fluid-type($fl: 0) {
  // Calculate min/max in px for this "fluid level"
  $fluid-min: $font-size-min * math.pow($font-ratio-min, $fl);
  $fluid-max: $font-size-max * math.pow($font-ratio-max, $fl);

  // Growth rate (px per 1px of viewport width)
  $fluid-preferred: math.div(
    ($fluid-max - $fluid-min),
    ($viewport-max - $viewport-min)
  );

  // Convert px -> rem with `math.div(..., 16)` and wrap the tricky part in calc()
  font-size: clamp(
    #{math.div($fluid-min, 16)}rem,
    calc(
      #{math.div($fluid-min, 16)}rem +
        (#{$fluid-preferred} * (100vw - #{$viewport-min}px)) / 16
    ),
    #{math.div($fluid-max, 16)}rem
  );
}

body,
p,
li,
textarea,
input,
select,
button,
th,
td {
  @include fluid-type(0);
}

h1,
.h1 {
  @include fluid-type(5);
}

h2,
.h2 {
  @include fluid-type(4);
}

h3,
.h3 {
  @include fluid-type(3);
}

h4,
.h4 {
  @include fluid-type(2);
}

h5,
.h5 {
  @include fluid-type(1);
}

// Links

a {
  text-decoration: none;
}

a:not([class*="btn"]) {
  @include link-style($brand-secondary);
  transition: $transition-default;
}

.topper {
  @include fluid-type(-1);
  font-weight: $bold-weight;
  line-height: $line-height-small;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-wide;
  color: $brand-secondary;
  display: block;
}
