// SCSS variables/mixins/functions
$brand-primary: #f26722;
$brand-secondary: #051f3b;
$acc-yellow: #fec010;
$acc-lightblue: #b9e5fb;
$acc-cream: #fff4e4;
$acc-pink: #fbb9b9;
$acc-mint: #8efab4;
$acc-purple: #e2bdff;
$dark: #000;
$light: #fff;

/* 60px - 100px top and bottom */
$container-padding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;

// Content width
$content-width: 80em;

// Border values
$border-dark: 2px solid $dark;

// Mixins for container responsive design
// Define a map of breakpoints
$breakpoints: (
  x-small: 16rem,
  small: 32rem,
  medium: 48rem,
  large: 64rem,
  max: 76rem,
);
