@use "./foundation/vars" as *;

/* Fonts and general styles */
/* inter-tight-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("/assets/fonts/inter-tight-v7-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/assets/fonts/inter-tight-v7-latin-700.woff") format("woff")
      /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */;
}

/* inter-tight-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Inter Tight";
  font-style: normal;
  font-weight: 900;
  src: local(""),
    url("/assets/fonts/inter-tight-v7-latin-900.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/assets/fonts/inter-tight-v7-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/assets/fonts/open-sans-v36-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/assets/fonts/open-sans-v36-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("/assets/fonts/open-sans-v36-latin-700.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
      url("/assets/fonts/open-sans-v36-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body,
p,
li,
textarea,
input,
select,
button,
th,
td {
  @include fluid-type(0);
}

h1,
.h1 {
  @include fluid-type(5);
}

h2,
.h2 {
  @include fluid-type(4);
}

h3,
.h3 {
  @include fluid-type(3);
}

h4,
.h4 {
  @include fluid-type(2);
}

h5,
.h5 {
  @include fluid-type(1);
}

h1,
h2,
h3,
h4,
h5 {
  @include header-style;
  line-height: $line-height;
}

// Links
@mixin link-style($colour) {
  color: $colour;

  &:hover {
    color: $brand-primary;
  }
}

a {
  text-decoration: none;
}

a:not([class*="btn"]) {
  @include link-style($brand-secondary);
  @include transition-fast(color);
}

.topper {
  @include fluid-type(-1);
  font-weight: $bold-weight;
  line-height: $line-height-small;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-wide;
  color: $brand-secondary;
  display: block;
}
